.subscribeB {
  position:relative;
  left:500px;
  top:120px;
}

#subscribeTitle {
  color:white;
  position:relative;
  top:100px;
  left:86px;
}

#downloadTitle {
  color:white;
  position:relative;
  left:120px;
  top:100px;
}

#downloadB {
  position:relative;
  left:530px;
  top:120px;
  color:white;

}

#paidT {
  color:white;
  position:relative;
  left: 60px;
  top:100px;
}

.downloadEach {
  position:relative;
  top:100px;
  left:300px;
  color:white;
}

#paidDownloads {
  color:white;
  position:relative;
  left:400px;
  top:120px;
  width:315px;
  background-color:#202020;
}

#paidButton {
  position:relative;
  left:122px;
}



#downloadUser {
  position:relative;
  left:130px;
  margin-top:10px;
  margin-bottom:10px;
}

#downloadDescrip {
  position:relative;
  left:122px;
  margin-top:10px;
  margin-bottom:10px;
}
