#marketTitle {
  color:white;
  position:relative;
  top:50px;
  margin-bottom:50px;
}

#marketSamples {
  color:white;
  position:relative;
  top:50px;

}

#paidSample {
  position:relative;
  right:115px;
  width: 320px;
}

.paidUsername {
  margin:5px;
  position:relative;
  left:132px;
}

.marketLike {
  position:relative;
  left:132px;
}

.paidTime {
  margin-top: 5px;
  position:relative;
  left:126px;
}

#paidLink {
  margin-bottom:5px;
  position:relative;
  left:128px;
}

#paidAudio {
  margin-top:10px;
  position:relative;
  right:120px;
}

.marketAudio {
  position:relative;
  left: 12px;
}

#subscribe {
  position:relative;
  right:60px;
  margin-top:10px;
}
#subscribeBack {
  position:relative;
  right:50px;
  margin-top:10px;
}

#paidShow {
  width: 400px;
  left:445px;
  color:white;
  position:relative;
  top:120px;
}

#payP {
  position:relative;
  right:60px;
  top: 20px;
}

.sampleTitle {
  position:relative;
  left:120px;
}

#actualTitle {
  margin-bottom:10px;
}

#editButton {
  position:relative;
  left:100px;
}
#editBack {
  position:relative;
  left:100px;
}
