#sign-image {
  width:600px;
  height:850px;

}

#outwrapper {
  font-family: 'Bevan';
  text-transform: uppercase;
  width:100%;
  background-image: image-url("signout.jpg");
  background-size: 100%;
}

.out {
  color:white;
}

.error {
  color:white;
}
