
<div class="profileImage">
<div id= "downloadTitle" class="col-m-2 col-md-offset-4">
<h2>Thanks!</h2>
</div>

<div id="downloadB" class="btn btn-info btn-xs"><%= link_to "Download Page" , "/paids" %></div>
</div>
