<h2>Profile</h2>

  <%= link_to image_tag('stripe.png'),  user_stripe_connect_omniauth_callback %>
<%= @person.username %>
<hr>
<% @person.samples.each do |f| %>
<audio controls>
  <source src="<%=f.audio.url()%>">
</audio>
<hr>
<% end %>
